.Header {
    background-color: #ffffff;
    width: 100%;
    align-content: start;
    position: fixed;
    top: 0;
    padding: 20px;
    text-align: left;
    border-width: 0px 0px 5px 0px;
    border-style: ridge;
}

.Header-breadcrumb {
    color: blue;
}